{% extends "base.html.twig" %}

{% block head %}
{% endblock %}

{% block body %}
<pre>
Array
(
    [0] => AppBundle\Model\Fixture Object
        (
            [matchReport:protected] =>
            [createdAt:protected] => 2016-08-15 10:10:10
            [teams:protected] => Array
                (
                    [0] => AppBundle\Model\Team Object
                        (
                            [name:protected] => Manchester United
                            [players:protected] => Array
                                (
                                    [0] => AppBundle\Model\Player Object
                                        (
                                            [name:protected] => Obama
                                        )

                                    [1] => AppBundle\Model\Player Object
                                        (
                                            [name:protected] => Boris
                                        )

                                )

                        )

                    [1] => AppBundle\Model\Team Object
                        (
                            [name:protected] => Manchester City
                            [players:protected] => Array
                                (
                                    [0] => AppBundle\Model\Player Object
                                        (
                                            [name:protected] => Putin
                                        )

                                    [1] => AppBundle\Model\Player Object
                                        (
                                            [name:protected] => Trump
                                        )

                                )

                        )

                )

            [kickoffDatetime:protected] => 2016-08-16 15:00:00
            [result:protected] => 0-1
            [location:protected] => Manchester
        )

)
Array
(
    [0] => AppBundle\Model\MatchReport Object
        (
            [players:protected] => Array
                (
                    [0] => AppBundle\Model\Player Object
                        (
                            [name:protected] => Putin
                        )

                    [1] => AppBundle\Model\Player Object
                        (
                            [name:protected] => Trump
                        )

                    [2] => AppBundle\Model\Player Object
                        (
                            [name:protected] => Obama
                        )

                )

            [playersScoreGoal:protected] => Array
                (
                    [0] => AppBundle\Model\Player Object
                        (
                            [name:protected] => Putin
                        )

                    [1] => AppBundle\Model\Player Object
                        (
                            [name:protected] => Trump
                        )

                )

            [scoresTime:protected] => Array
                (
                    [0] => 2016-08-16 15:30:00
                    [1] => 2016-08-16 15:31:00
                )

            [playersWithCard:protected] => Array
                (
                    [0] => AppBundle\Model\Player Object
                        (
                            [name:protected] => Putin
                        )

                    [1] => AppBundle\Model\Player Object
                        (
                            [name:protected] => Trump
                        )

                )

            [timesCardGiven:protected] => Array
                (
                    [0] => 2016-08-16 15:40:10
                    [1] => 2016-08-16 15:45:08
                )

            [createdAt:protected] => 2016-08-15 10:10:10
            [teams:protected] => Array
                (
                    [0] => AppBundle\Model\Team Object
                        (
                            [name:protected] => Manchester United
                            [players:protected] => Array
                                (
                                    [0] => AppBundle\Model\Player Object
                                        (
                                            [name:protected] => Obama
                                        )

                                    [1] => AppBundle\Model\Player Object
                                        (
                                            [name:protected] => Boris
                                        )

                                )

                        )

                    [1] => AppBundle\Model\Team Object
                        (
                            [name:protected] => Manchester City
                            [players:protected] => Array
                                (
                                    [0] => AppBundle\Model\Player Object
                                        (
                                            [name:protected] => Putin
                                        )

                                    [1] => AppBundle\Model\Player Object
                                        (
                                            [name:protected] => Trump
                                        )

                                )

                        )

                )

            [kickoffDatetime:protected] => 2016-08-16 15:00:00
            [result:protected] =>
            [location:protected] => Manchester
        )

)

</pre>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}